<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TGN X</title>
    <link rel="shortcut icon" href="https://cdn.discordapp.com/attachments/841698483898810400/897185981260779540/bgicon.png" type="image/x-icon"></head>
<body>
<main class="flex">
    <div class="panel"> 
        <header class="panel-image">
        </header>
        <section class="panel-bodoy">
            <div class="panel-body-text">
             <h1>Script Enviado correctamente</h1>
            </div>
            <div class="panel-body-btn">
             <p><a href="/">¿Quieres volver al inicio?</a></p>
            </div>
        </section>
    </div>
</main>
    
</body>

<style>
    body{
     background-color: rgb(50, 50, 50);
    font-family: sans-serif;
    background-image: url('https://cdn.discordapp.com/attachments/890324951670853688/996819735029239808/unknown.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    text-decoration: none;
    color: rgba(227, 1, 219, 0.836);
    font-weight: 500;
    font-size: 20px;
    opacity: 1;
}
.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.panel{
    background-color: rgb(30, 30, 30);
    border-radius: 15px;
    overflow: hidden;
    min-height: 350px;
    min-width: 450px;
    box-shadow: 0px 0.1px 1px rgba(0, 0, 0, 0.11);
}
.panel-image{
    min-width: 100%;
    min-height: 190px;
    display: block;
    background-image: url(https://cdn.discordapp.com/attachments/841698483898810400/897185981260779540/bgicon.png);
  
    background-size: cover;
    background-repeat: no-repeat;
}
.panel-bodoy{
  justify-content: center;
  color: white;
  font-family: sans-serif;
  align-items: center;
  text-align: center;
}
</style>
</html>